.email{
    width: 500px;
    margin-bottom: 5px;   
}
.pas{
    width: 500px;
    margin-bottom: 5px;
}
.btn{
    width: 500px;
    margin-bottom: 5px;
}
.phone{
    width: 500px;
    margin-bottom: 5px;
}
.name{
    width: 500px;
    margin-bottom: 5px;
}